/* Name colors */
/* RGB */
/* HSL */
/* Hexadecimal */

:root {
    --color-primary: hsla(17, 100%, 50%, 1);
    --color-secondary: hsla(197, 100%, 50%, 1);
}


.box {
    height: 200px;
    width: 200px;
    margin: 20px;
    
}

.box--purple {
    background-color: rgb(24, 3, 85);
}

.box--transparent {
    background-color: rgba(24, 3, 85, 0.5);
}

.box--hex {
    background-color: #23ab23a2;
}

.box--hsl {
    background-color: var(--color-primary);
}

.box--compl {
    background-color: var(--color-secondary);
}

.box--gradient {
    width: 100%;
    height: 200px;
    /* background: linear-gradient(to bottom right,var(--color-primary), var(--color-secondary)); */
    background: var(--color-primary);
    background: linear-gradient(45deg,var(--color-primary), var(--color-secondary));
}