html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    height: 100vh;
}

.box {
    background-color: coral;
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    transition: transform 1s;
}

.box:hover {
    transform: rotate(45deg);
}

.linear {
    transition-timing-function: linear;
}

.ease {
    transition-timing-function: ease;
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}

.bezier {
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.container {
    display: flex;
    border: 1px solid black;
    height: 50%;
    align-items: center;
    justify-content: center;
}


.container:hover .box {
    
    transform: rotate(45deg);
}