html {
    background-color: gold;
}

#products {
    
}

/* todos los a que son descendientes de prodct, hijos, nietos, bisnietos */
.product a {
    /* color: blue; */
}

/* descendientes exclusivamente hijos */
.product > a {
    /* color: red; */
}

/* hermano menor de product, exclusivamente uno */
.product + a {
    /* color: red; */
}

/* hermanos menores de product */
.product  ~ a {
    color: red;
}

/* los que tienen target */
a[target] { 
    color: red;
}

a[target='blank'] { 
    color: black;
}

a[href='https://google.com'] { 
    text-decoration:overline;
}

/* contiene la palabra google */
a[href*='google'] { 
    background-color: white;
}

a[href^='https'] { 
    /* empieza con  */
}

a[href$='com'] { 
    /* acaba con  */
}

a[href^='https'][href$='com'] { 
    /*empieza con y acaba con  */
}